body {
  font-family: 'Kalimati, Verdana, sans-serif';
  background: white;
  font-weight: 100;
  border-top: 0;
}

.page-subtitle {
  font-weight: 600;
  color: #f07c17;
  font-size: 24px;
}

.bullet-list-subtitle {
  margin-top: 12px;
  margin-left: -9px;
}

.page-description {
  font-weight: 200;
  color: #666;
  line-height: 2.35em;
  padding-right: 28px;
  padding-top: 22px;
}

.page-description-subsequent {
  padding-top: 0;
}

.page-title {
  font-weight: 300;
  color: #666;
  font-size: 48px;
  padding-top: 24px;
  border-top: 0;
}

.left-column {
  padding-top: 21px;
  padding-right: 15px;
}

.bullet-list-border {
  margin-top: 31px;
  outline: 1px solid #ccc;
  padding-bottom: 13px;
  padding-top: 18px;
  padding-left: 38px;
  padding-right: 21px;
}

.page-bullet-list {
  padding-top: 20px;
  padding-left: 30px;
  color: #666;
  line-height: 2.25em;
  padding-bottom: 20px;
}
